@import 'colors';
.about {
    min-height: 720px;

    .about-content {
        padding: 20px;
    }

    .inset {
        font-size: 0.8em;
        font-weight: 700;
    }
    .about-text {
        font-size: 0.8em;
    }

    #footer-img {
        position: absolute;
        bottom: 0;
    }
    .founder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > h2 {
            margin: 0;
        }
        > p {
            margin-top: 2px;
        }
    }
}
