@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');
@import 'colors';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}

.App {
    // background-color: $brown;
    width: 375px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 667px;
    position: relative;
}

.header {
    position: relative;
    .circle {
        position: absolute;
        top: 0px;
        left: 5px;
    }

    .menu-icon {
        position: absolute;
        top: 2px;
        left: 29px;
        &:hover {
            cursor: pointer;
        }
    }
}
