@import 'colors';

.login {
    color: #2f2926;
    width: 341px;
    background-color: $pink;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    padding-top: 30px;
    min-height: 565px;
    position: absolute;
    top: 70px;
    box-shadow: 0px 0px 32px 0px #00000099;

    .login-form {
        margin-top: 30px;
        text-align: left;

        label {
            display: inline-block;
            font-family: 'Work Sans', sans-serif;
            font-size: 0.75em;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 10px;
        }

        input[type='text'],
        [type='password'] {
            border: 1px $brown solid;
            background-color: $pink;
            padding: 10px;
            border-radius: 4px;
            width: 90%;
            text-align: left;
            margin-left: 10px;
            font-family: 'Work Sans', sans-serif;
        }

        input[type='submit'] {
            border: none;
            padding: 10px;
            margin-top: 50px;
            font-family: 'PT serif', serif;
            font-size: large;
            font-weight: 700;
            background-color: $brown;
            color: white;
            width: 60%;
            border-radius: 50px;
            display: block;
            position: absolute;
            left: 70px;

            &:hover {
                background-color: #000000;
            }
        }
        .errMsg {
            color: red;
            font-size: 0.75em;
            margin-left: 10px;
        }
    }
}
