@import 'colors';

.nav-menu {
    width: 375px;
    min-height: 690px;
    background-color: $brown;
    position: absolute;
    z-index: 99;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle-close {
        position: absolute;
        top: 0px;
        left: 5px;
    }

    .close-icon {
        position: absolute;
        top: 2px;
        left: 29px;
    }

    .nav-links {
        color: white;
        text-align: center;

        hr {
            width: 25%;
            opacity: 20%;
        }

        .link-text {
            text-decoration: none;
            color: white;
        }
    }
}
